.App {
  /* text-align: center; */
  /* padding: 0 100px; */
}

a {
  transition: all .3s ease-out;
  /* font-weight: 500; */
}

a:active {
  color: #b3541e;

}

a:hover {
  /* padding-bottom: 4px; */
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  /* color: #b3541e; */
}

button, .btn {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #b3541e;
  color: white;
  display: inline-block;
}

h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: #b3541e;
  font-weight: 300;
}

h2 {
  display: block;
  font-size: 40px;
}

.skill-bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.skill-bg2 {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

h3 {
  display: block;
  font-size: 24px;
}

h4 {
  display: block;
  font-size: 20px;
  font-weight: 700;
  /* color: #b3541e; */
}
