/* selected {
  color: #b3541e;
} */

a {
  transition: all .3s ease-out;
  /* font-weight: 500; */
}

a:active {
  color: var(--primary);
}

a:hover {
  /* padding-bottom: 4px; */
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  color: var(--primary);
}

button, .btn {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: var(--primary);
  color: white;
  display: inline-block;
}

.btn2:hover {
  text-decoration: none;
}

input {
  /* background-color: transparent; */
}

h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--primary);
  font-weight: 300;
}

h2 {
  display: block;
  font-size: 40px;
}

.skill-bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.skill-bg2 {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

h3 {
  display: block;
  font-size: 24px;
}

h4 {
  display: block;
  font-size: 20px;
  font-weight: 700;
  /* color: var(--primary); */
}

h5 {
  display: block;
  font-size: 18px;
  font-weight: 400;
  /* color: var(--primary); */
}

.btn3 {
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: transparent;
}

.btn3:hover {
  color: white;
  background-color: var(--primary);
}
